<%= @account.inspect %>
<h2>
  total: <%= @account.total %>
  <br />
  balance: <%= @account.balance %>
</h2>
<hr />
Charges:<br />
<% @account.charges.each do |charge| %>
  <%= charge.inspect %>
<% end %>
<%= link_to :charge, [:new, @account, :charge] %>
<hr />
Discounts:<br />
<% @account.discounts.each do |discount| %>
  <%= discount.inspect %>
<% end %>
<%= link_to :discount, [:new, @account, :discount] %>
<div>
  <% @account.discount_items.each do |di| %>
    <%= di.inspect %><br />
  <% end %>
</div>
<hr />
Payments:<br />
<% @account.payments.each do |payment| %>
  <%= payment.inspect %>
<% end %>
<%= link_to :pay, [:new, @account, :payment] %>
