<%= @account.inspect %>
<h2>
  total: <%= @account.total %>
  <br />
  balance: <%= @account.balance %>
</h2>
<hr />
Charges:<br />
<% @account.charges.each do |charge| %>
  <%= charge.inspect %>
<% end %>
<%= link_to :charge, [:new, @account, :charge] %>
<hr />
Modifiers:<br />
<% @account.modifiers.each do |modifier| %>
  <%= modifier.inspect %>
<% end %>
<%= link_to :modifier, [:new, @account, :modifier] %>
<div>
  <% @account.modifier_items.each do |mi| %>
    <%= mi.inspect %><br />
  <% end %>
</div>
<hr />
Payments:<br />
<% @account.payments.each do |payment| %>
  <%= payment.inspect %>
<% end %>
<%= link_to :pay, [:new, @account, :payment] %>
