<h1>
  New discount
  <small><%= @account %></small>
</h1>
<%= form_for [@account, @discount] do |f| %>
  <%= @discount.inspect %>
  <br />
  <%= f.number_field :percent_ratio, step: 0.001 %>
  <br />
  <%= f.select :charge_id, @account.charges.collect(&:id), { include_blank: true } %>
  <br />
  <%= f.submit %>
<% end %>