<h1>
  New charge
  <small><%= @account %></small>
</h1>
<%= form_for [@account, @charge] do |f| %>
  <%= @charge.inspect %>
  <br />
  <%= f.number_field :price, step: 0.01 %>
  <br />
  <%= f.submit %>
<% end %>

