<h1>
  New payment
  <small><%= @account %></small>
</h1>
<%= form_for [@account, @payment] do |f| %>
  <%= @payment.inspect %>
  <br />
  <%= f.number_field :value, step: 0.01 %>
  <br />
  <%= f.submit %>
<% end %>